body {
  color: white;
  background-color: #263159;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.notifcationmessage {
padding:2px 5px 0 15px ;
  transition:  0.3s;
}

.notifcationmessage:hover {
  color: rgb(0, 223, 223);
  padding-left: 25px;
}
.notifcationmessage:not(:last-child) {
  border-bottom: 1px solid #bbb;
}






















.user-online {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgb(0, 219, 0);
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 2;
}
